*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.intro{
    color: white;
    width: 100%;
    background-color: red;
    display: flex;
    justify-content: space-between;
    padding: 15px 70px;
}
.side{
    display: flex;
}
.side > p{
    padding:0px 10px;
}
.ijoba{
    border-left: 2px solid white;
}
.logo{
    color: red;
}
.sidebar > li{
    list-style: none;
    display: inline;
    padding: 10px;
}
.sidebar > li > a{
    color: black;
    text-decoration: none;
    font-size: 20px;
}
.duct{
    position: sticky;
    top: 0;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 70px;
}
.burger{
    display: none;
}
.start{
    width: 100%;
    height: 600px;
    background-image: url(flower1.jpg);
    background-size: cover;
    background-position: top;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bouquets{
    text-align: center;
}
.woods{
    border: 1px solid red;
    border-radius: 25px;
    padding: 8px 25px;
    background-color: white;
    color: red;
}
.bouquets > h1{
    font-size: 55px;
}
.oluwa{
    margin: 40px 0;
    width: 350px;
    height: auto;
}
.next{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nextt{
    text-align: center;
}
.container{
    display: flex;
    justify-content: center;
}
.conone{
    padding: 10px 30px;
}
.conone:hover{
    background-color: red;
    color: white;
}
.grid{
    width: 100%;
    display: flex;
}
.grid > div{
    width: 25%;
    height: 300px;
}
.grid > div > img{
    width: 100%;
    height: 300px;
}
.grid2{
    width: 100%;
    display: flex;
}
.grid2 > div{
    width: 25%;
    height: 300px;
}
.grid2 > div > img{
    width: 100%;
    height: 300px;
}
.needs{
    text-align: center;
}
.elevation{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.elevation > div{
    width: 300px;
    height: 400px;
    border: 1px solid black;
    text-align: left;
}
.elevation > div > img{
    position: relative;
    left: 20px;
    top: 20px;
    height: 220px;
    width: 250px;
}
.add{
    display: inline;
    padding: 10px 20px;
}
.add:hover{
    border: 1px solid red;
    background-color: red;
    color: white;
}
.catch{
    display: flex;
    justify-content: center;
}
.catch > div{
    margin: 0 5px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: red;
}
.rest{
    margin-top: 30px;
    width: 100%;
    height: 500px;
    background-image: url(flower1.jpg);
    background-size: cover;
    background-position: bottom;
    display: grid;
    place-items: center;
    text-align: center;
}
.cyprus{
    display: flex;
    justify-content: center;
}
.rebel{
    background-color: white;
    width: 420px;
    height: 40px;
    text-align: left;
    border: 0px;
}
.loco{
    background-color: red;
    width: 70px;
    height: 40px;
    display: grid;
    place-items: center;
}
.kenk > div{
    display: inline;
    background-color: whitesmoke;
    margin: 0 3px;
    padding: 0 5px;
    place-items: center;
}
.coal{
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
@media screen and (max-width: 700px) {
    .intro{
        padding: 15px 3px;
    }
    .intro p{
        font-size: 10px;
    }
    .side > p{
        padding: 0px 3px;
    }
    .duct{
        position: sticky;
        top: 0;
        padding: 12px 10px;
        background-color: wheat;
    }
    .burger{
        display: block;
    }
    .woods, .conone{
        font-size: 10px;
    }
    .sidebar{
        background-color: wheat;
        position: absolute;
        left: 0;
        right: 0;
        top: 90%;
        text-align: center;
        transition-duration: 1s;
        display: none;
        z-index: 3;
    }
    .sidebar a{
        padding: 5px;
    }
    .sidebar li{
        display: block;
        padding: 5px;
    }
    .sidebar > li > a{
        font-size: 8px;
    }
    .sidebar a:hover{
        background-color: red;
    }
    .container{
        width: 100%;
    }
    .conone{
        padding: 5px 10px;
    }
    .bouquets h1{
        font-size: 30px;
    }
    .grid{
        display: grid;
        gap: 5px;
        grid-template-rows: 50% 50;
        grid-template-columns: 1fr 1fr;
    }
    .grid > div{
        width: auto;
        height: 200px;
    }
    .grid > div > img{
        width: 100%;
        height: 100%;
    }
    p{
        font-size: 10px;
    }
    h1{
        font-size: 22px;
    }
    h3{
        font-size: 16px;
    }
    .ply1{
        grid-row: 1/2;
        grid-column: 1/2;
    }
    .ply2{
        grid-row: 1/2;
        grid-column: 2/2;
    }
    .ply3{
        grid-row: 2/2;
        grid-column: 1/2;
    }
    .ply4{
        grid-row: 2/2;
        grid-column: 2/2;
    }
    .grid2{
        margin-top: 5px;
        display: grid;
        grid-template-rows: 50% 50;
        grid-template-columns: 1fr 1fr;
        gap: 5px;
    }
    .grid2 > div{
        width: auto;
        height: 200px;
    }
    .grid2 > div > img{
        width: 100%;
        height: 100%;
    }
    .ply5{
        grid-row: 1/2;
        grid-column: 1/2;
    }
    .ply6{
        grid-row: 1/2;
        grid-column: 2/2;
    }
    .ply7{
        grid-row: 2/2;
        grid-column: 1/2;
    }
    .ply8{
        grid-row: 2/2;
        grid-column: 2/2;
    }
    .elevation{
        display: grid;
        gap: 10px;
    }
    .elevation > div > img{
        z-index: -1;
    }
    .coal{
        margin-left: 5px;
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 1fr 1fr;
        gap: 5px;
    }
    .rebel{
        width: 145px;  
    }
    .loco{
        width: 35px;
    }
    .svg > svg{
        width: 8px;
    }
}  
